@import "compass/css3/transition";
@import "compass/css3/transform";

* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
}
a:link,
a:visited,
a:hover { 
	color: rgba(0,0,0,0.9);
}
.main-container {
	overflow: hidden;
}
.character-container {
	-webkit-transform: translateZ(0);
}
.character {
	width: 20%;
	height: auto;
	padding-bottom: 20%;
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	h3 {
		position: absolute;
		top: 0;
		left: 0;
		width: 80%;
		background-color: #ffffff;
		padding: 1%;
		margin: 0px;
	}
	opacity: 0.5;
	@include transition(opacity 0.5s ease);
	&:hover {
		cursor: pointer;
		opacity: 1;
	}
	
}
.popup {
	position: fixed;
	top: 100px;
	left: 50%;
	z-index: 1000;
	width: 500px;
	height: 500px;
	margin-left: -250px;
	background-color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
	@include transition(all 0.5s ease);
	@include transform(scale(2));
	visibility: hidden;
	opacity: 0;
	h1 {
		margin-top: 0px;
	}
	&.show {
		@include transform(scale(1));
		visibility: visible;
		opacity: 1;
	}
	.bottom {
		padding: 15px;
		width: 100%;
		bottom: 0px;
		position: absolute;
		background-color: rgba(255,255,255,0.8);
	}
	.close {
		position: absolute;
		width: 30px;
		height: 30px;
		color: #ffffff;
		font-size: 20px;
		padding-left: 10px;
		right: -30px;
		top: 0px;
		background-color: #000000;
		&:hover {
			cursor: pointer;
		}
	}
}
.credit { 
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 1000;
	padding: 5px;
	background-color: rgba(255,255,255,0.5);
}
